@import url('https://fonts.maateen.me/siyam-rupali/font.css');

body {
      font-family: 'SiyamRupali', Arial, sans-serif !important;
  }

  h1 {
    font-family: 'SiyamRupali', Arial, sans-serif !important;
}

h3.post-subtitle {
    font-family: 'SiyamRupali', Arial, sans-serif !important;
}

article{
	font-family: 'SiyamRupali', Arial, sans-serif !important;
} 
h2{
	font-family: 'SiyamRupali', Arial, sans-serif !important;
}